.programacion {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.programacion h2 {
  text-align: left !important;
}


@media (max-width: 768px) {
  .programacion {
    grid-template-columns: 1fr;
  }
}
